
body {
    background-color:#eee;  
    padding-bottom:30px;
}

ul {
    list-style-type: none;
}

.content-pane {
    position:relative;
    
    padding-left:30px;
    padding-right:30px;
    padding-bottom:20px;
    margin-top:30px;
    border:1px solid #aaa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom:8px solid #666;
    
    background-color:#fafafa;
}

label > input:disabled {
    color:red;   
}

#generateButton {
    width:100%;
}

@media (max-width: 767px){
    .content-pane {
        height:auto;   
    }
}

@media (max-width: 992px){
    #generate .content-pane {
        height:auto; 
    }
}

@media (min-width: 767px){
    .content-pane {
        height:650px;   
    }
}

div > i {
    display:inline-block;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:15px;
}
#resetButton {
    width: 100%;
    margin-bottom:10px;
}

#generatedLink {
    display:none;   
}

hr {
    border-color:#aaa;   
}
